/* Le contenue de la popup dont le fond */
.contain{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.01);
  z-index: -1;
  transition: backdrop-filter 0.2s ease-in-out;
}
.contain.actived{
  backdrop-filter: blur(4px);
  z-index: 9999 !important;
}
/* La card au centre */
.contain > .card{
  position: relative;
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  padding: 64px;
  border-radius: var(--borderRadiusBig);
  background: var(--primaryColor);
  box-shadow: 0px 19px 34.5px -9px rgba(0, 0, 0, 0.11);

  transform: scale(0);
}
.contain.actived > .card{
  transform: scale(1) !important;
}
.contain > .card > .closeIconButton{
  position: absolute;
  top: 32px;
  right: 32px;
}
.contain > .card > span, .card > .text > .title{
  color: var(--secondaryColor);
  font-size: 28px !important;
  font-weight: 600 !important;
}
.contain > .card > .inputsContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.card > .text{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
}
.card > .buttons{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.card > .buttons > button{
  width: 100%;
}
.card > .text > span{
  color: var(--secondaryColor);
  font-size: 16px;
  font-weight: 400;
}
